@keyframes pulse {
  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(0.8);
  }
}

@keyframes scrollDown {
  0% {
    top: 0;
    opacity: 1;
  }
  70% {
    top: 34px;
    opacity: 1;
  }
  100% {
    top: 34px;
    opacity: 0;
  }
}
