.embla {
  --slide-spacing: 1rem;
  --slide-size: 50%;
}

.embla__viewport {
  @apply overflow-hidden;
}

.embla__container {
  @apply flex touch-pan-y touch-pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  @apply min-w-0 shrink-0 grow-0 basis-[var(--slide-size)] cursor-pointer pl-[var(--slide-spacing)] select-none;
  transform: translate3d(0, 0, 0);
}

.embla__dots {
  @apply mt-[20px] flex flex-wrap items-center justify-center gap-1.5;
}

.embla__dot {
  @apply bg-card-body h-[12px] w-[12px] origin-center cursor-pointer rounded-full transition-all;
}

.embla__dot--selected {
  @apply bg-primary w-[25px];
}

.embla__side {
  @apply absolute z-[1] h-full w-40;
}

.embla__side--left {
  @apply left-0;
  background: radial-gradient(
    ellipse 100px 100% at 0% 50%,
    rgba(10, 10, 11, 0.9) 0%,
    rgba(10, 10, 11, 0.6) 40%,
    rgba(10, 10, 11, 0.2) 70%,
    transparent 100%
  );
}

.embla__side--right {
  @apply top-0 right-0;
  background: radial-gradient(
    ellipse 100px 100% at 100% 50%,
    rgba(10, 10, 11, 0.9) 0%,
    rgba(10, 10, 11, 0.6) 40%,
    rgba(10, 10, 11, 0.2) 70%,
    transparent 100%
  );
}
